{% extends "base.html" %}

{% load static %}

{% block title %}
Arf?
{% endblock title %}

{% block content %}
<div class="text-white">
    <h1 class="mt-3"><img src="{% static 'images/daisy.png' %}"> Daisy's Book Search!</h1>
    <p>Please type some text to tell Daisy what books to retrieve.</p>
</div>
<div class="card bg-light">
    <div class="card-body">
        <form action="/search/" method="GET">
            <p class= "mt-5">
               {{ form.query }} 
            </p>
            <p>
               <input type="submit" class="btn btn-primary btn-lg" value="Fetch Me A Book, Daisy!"> 
            </p>
            {% csrf_token %}
        </form>
    </div>
</div>
{% endblock content %}